*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent{
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.tier-list{
    background: linear-gradient(45deg, rgb(61, 61, 61), gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;
    color: white;
    padding: 10px 2%;
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease;
}

.tier-name{
    font-size: 32px;
    font-weight: bold;

}

img{
    height: 150px;
    max-width: 50%;
    border-radius: 50%; 
}

.content{
    font-size: 20px;
    text-align: center;
}


.free-tier:hover{
    background: rgb(204, 131, 131);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.silver-tier:hover{
    background: rgb(231, 231, 231);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.gold-tier:hover{
    background: rgb(134, 124, 68);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 1200px)
{
    .parent{
        flex-wrap: wrap;
    }
    
}
