*{
    box-sizing: border-box;
}

.parent{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.box1{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;
}

.box2{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;
}

.box3{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    width: 33%;
}
