*{
    box-sizing: border-box;
}

.parent{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

@media (min-width: 400px){
    body{
        background-color: aqua;
    }
}