.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 10px;
}

.img {
  width: 150px;
  cursor: pointer;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

#modalContent {
  background: white;
  padding: 10px;
}

#modalImg {
  width: 300px;
}

/* Hidden class */
.hidden {
  display: none;
}
